<%= form_with(model: note, local: true, class: "note-form") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :note_title, class: "u-full-width" %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :note_contents, class: "u-full-width" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button button-primary" %>
  </div>
<% end %>
