<p id="notice"><%= notice %></p>

<%= link_to 'New Note', new_note_path %>
<%= link_to 'Back to book', root_path %>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Phase</th>
      <th>Title</th>
      <th>Contents</th>
      <th>Published on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.phase %></td>
        <td><%= note.title %></td>
        <td><%= note.contents.truncate(50) %></td>
        <td><%= note.published_on %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notes %>
