<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @note.contents %>
</p>

<p>
  <strong>Last viewed at:</strong>
  <%= @note.last_viewed_at %>
</p>

<%= link_to 'New Note', new_note_path %> |
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
