<div class="row">
  <% if note %>
    <%= render("note", note: note) %>

    <%= link_to "next", book_forward_path, method: :post, class: "button button-primary" %>
    <%= link_to "reset", book_reset_path, method: :post, class: "button" %>
  <% else %>
    You already read today's notes or there is nothing.<br>
    Do you want to review today's notes?
    <br>
  <% end %>
</div>

<div class="row">
  <%= link_to "Edit this", edit_note_path(note) %> |
  <%= link_to "Review", book_review_path %> |
  <%= link_to "All notes", notes_path %>
</div>
